.List table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.List table thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

.List table tbody tr {
    border: 1px solid #ddd;
    background-color: #615454;
}

.List table tbody td {
    padding: 8px 10px;
    border: 1px solid #a99999;
}

/* .List table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
} */

.List table tbody tr:hover {
    background-color: #927f7f;
    cursor: pointer;
}
